# Python
__pycache__/
*.pyc
*.pyo
*.log

# Virtual environments
venv/
env/
.env

# OS
.DS_Store

# Django
db.sqlite3
*.sqlite3
staticfiles/
media/

# Python tools
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

# ML temp artifacts
*.joblib
*.tmp